@charset "UTF-8";


.boardMain{
	width:1100px;
	margin: 0 auto;
}
#writer-info{
	width:1100px;
	height:40px;
	text-align:center;
	
}
.board_writeBtn{
	text-align:center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.board_category{
	border: 1px solid black;
	width:1100px;
	height: 40px;
	margin-top: 20px;
}
.board_name{
	margin-top: 20px;
	
}
.board_write{
	margin-top: 20px;
	border-bottom: 20px;
}
.board_title{
	margin-top: 20px;
	border-bottom: 20px;
}
#board_category_select{
	text-align:center;
	display: inline-block;
	width: 1100px;
	height: 35px;
	
}