body{
  margin: 0;
  padding: 0;
}

.dognorframe{
  border: 1px solid;
  margin: auto;
  width: 1100px;
  text-align: center;

}

.dognorframe dl{
  margin: 0 auto;
  width: 1000px;
  display: inline-block;

}

.dognorframe dl dd{
  margin: 10px;
  width: 280px;
  height: 350px;
  display: inline-block;
}

img{
  border-radius: 40px;
}
