@charset "UTF-8";
@font-face {
  font-family: fontis;
  src: url('../font/BMHANNAAir_ttf.ttf');
}
body {
  padding: 0;
  margin: 0;
}
.container-header{
	height: 200px;
}
.container-header h2{
	text-align: center;
	font-size: 40px;
}

.frame {
	border: 1px solid black;
  	margin: 0px auto;
 	width: 1100px;
  	height: 1200px;
}
.menuBar{
	border: 1px solid black;
    position: relative;
    z-index: 1;
    padding-top: 48px;
    padding-bottom: 48px;
}
/* 드롭다운 */
.dropdown {
    display: inline-block;
    right: 10px;
    float: right; 
    margin: 0 20px;	
}
.dropdown-sort {
	background-color: #FFDAB9;
	padding: 8px;
	font-size: 11px;
	border: none;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #FFDAB9;
	min-width: 75px;
	padding: 5px;
	font-size: 11px;
	z-index: 10;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
	color: black;
	padding: 8px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover { background-color: #CD853F; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropdown-button { background-color: #CD853F; }
/* 드롭다운 */

.goods-frame{
	border: 1px solid red;
	display: flex;
	width: -webkit-fill-available;
	height: 100%;
	float: left;
}
.goods-boxs{
	border: 1px solid silver;	
	/* flex: 0 0 25%; */
	height: fit-content; 
	width: -webkit-fill-available;
	padding: 10px;
}
.goods-image{
	border: 1px solid silver; 
	display: block;
	position: relative;
	width: 100%;
	height: 200px;
	border-radius: 4px;
	overflow: hidden;
	box-sizing: border-box;
}
.goods-content{
	background-color: silver;
	display: block;
	position: relative;
	height: 100px;
    margin-top: 10px;
}

.goods-name{
	margin-top: 5px;
	font-size: 13px;
	line-height: 17px;
	overflow: hidden; 		
}
.goods-price-rate{color: #35c5f0; margin-right: 2px;}
.goods-price-rate, .goods-price{
	font-size: 17px;
    line-height: 23px;
    font-weight: 700;
}

/* .tooltip{
	flex: 0 0 30%;
	width: -webkit-fill-available;
} */

/* 이미지 확대  */
.goods-image img{
	/* visibility: hidden;
	z-index: 1; */
	width: 100%;
	height: 200px;
	transform: scale(1);
	transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
}
.goods-boxs:hover img{
	/* visibility: visible; */
	transform: scale(1.2);
} 