@charset "UTF-8";

@font-face {
	font-family: fontis;
	src: url("../font/BMHANNAAir_ttf.ttf");
}

a {
	text-decoration: none;
	color: #000;
	outline: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
.goodsListDiv {
	position: relative;
	width: 1100px;
	margin-top: 100px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid #f2f2f2;
	border-radius: 5px;
}

.menuBar {
	position: relative;
	padding: 10px; z-index : 1;
	border-bottom: 1px solid #f2f2f2;
	font-family: "Noto Sans KR", sans-serif;
	z-index: 1;
}

/* 상품 카테고리 */
.goods_category {
	border-bottom: 2px solid #f2f2f2;
	font-family: "Noto Sans KR", sans-serif;
}

.goods_category ul {
	margin: 0;
}

.goods_category li {
	list-style: none;
	display: inline-block;
	/* float: left; */
	font-size: 13px;
	text-align: center;
	white-space: nowrap;
	line-height: 1;
	margin: 5px;
	padding:10px;
}

.goods_category li a {
	vertical-align: middle;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 15px;
}
/* 상품 정렬 */
.goods_top {
	padding: 10px;
	text-align: right;
	border-bottom: 2px solid #f2f2f2;
	margin-bottom: 2px;
	vertical-align: middle;
}

.good_top ul {
	display: table;
	width: 100%;
}

.list_qty {
	font-size: 12px;
	float: left;
	padding: 0;
	color: #999;
	/* list-style: none;
	display: inline-block;
    width: 30%;
    text-align: left;
    vertical-align: bottom;
    font-size: 14px;
    color: #111;
    letter-spacing: 0px;
    font-weight: 400;
	line-height: 15px; */
	vertical-align: -3px;
}

.right_box {
	position: relative;
	display: inline-block;
	width: 70%;
	vertical-align: top;
	font-size: 0;
	text-align: right;
}

.sort_box {
	overflow: hidden;
	display: inline-block;
	font-size: 0;
	vertical-align: top;
}

.sort_box select {
	overflow: visible;
	padding: 7px 20px 7px 11px;
	width: 144px;
	background: none;
	border-radius: unset;
	font-size: 13px;
	letter-spacing: -0.16px;
	font-weight: 400;
}

.select_box select option {
	font-weight: normal;
	display: block;
	white-space: pre;
}

.top_right_box .select_box:after {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 12px;
	height: 8px;
	margin: -4px 0 0 -12px;
	background: url(${pageContext.request.contextPath}/resources/img/btn_dropdown.png) no-repeat center;
}
/* 드롭다운 */
.dropdown {
	display: inline-block;
	right: 10px;
	/* float: right;  */
	margin: 0 20px;
	clear: both;
}

.dropdown-sort {
	background-color: #ffdab9;
	padding: 8px;
	font-size: 13px;
	border: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffdab9;
	min-width: 75px;
	padding: 5px;
	font-size: 11px;
	z-index: 10;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 8px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #cd853f;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropdown-button {
	background-color: #cd853f;
}
/* 드롭다운 */
.goods-frame {
	width: 1100px;
	display: grid;
	grid-template-columns: 275px 275px 275px 275px;
}

.goods-boxs {
	height: fit-content;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
}

.goods-image {
	/* border: 1px solid silver;  */
	display: block;
	position: relative;
	width: 255px;
	height: 250px;
	border-radius: 4px;
	overflow: hidden;
	box-sizing: border-box;
	margin: 10px;
}

.goods-content {
	/* background-color: silver; */
	display: block;
	position: relative;
	height: 100px;
	margin: 30px 10px 10px 10px;
}

#goods_name {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 17px;
	overflow: hidden;
}

.goods-image>.goods_cart {
	position: absolute;
	background-color: white;
	box-shadow: 0 4px 4px 0;
	padding: 3px;
	border-radius: 4px;
	width: 35px;
	height: 35px;
	left: 50%;
	top: 50%;
	margin-left: 75px;
	margin-top: 70px;
	opacity: 0;
}

.hover_bar {
	/* background-color: #7c7c7c; */
	width: 255px;
	height: 30px;
	position: absolute;
	display: none;
	z-index: 10;
	bottom: 0;
}

.btn_basket_cart {
	width: 50%;
	height: 30px;
	background: #5b5b5b;
	display: block;
	float: left;
	border: none;
}

.btn_basket_cart:hover {
	background: #ffc71d;
	border-color: #ffc71d;
	cursor: pointer;
}

.btn_basket_cart>img {
	width: 20px;
	height: 20px;
	/* -webkit-filter: opacity(1) drop-shadow(0 0 0 white);
	filter: opacity(.5) drop-shadow(0 0 0 white); */
}

.btn_detail_link {
	width: 50%;
	height: 30px;
	background: #5b5b5b;
	display: block;
	float: left;
	border: none;
}

.btn_detail_link:hover {
	background: #ffc71d;
	border-color: #ffc71d;
	cursor: pointer;
}

.btn_detail_link>img {
	width: 20px;
	height: 20px;
}
/* .goods-price{
	display: block;
	float: left;

}
.goods_cart {
	display: block;
	width: 25px;
	height: 25px;
} */
/* .goods-price-rate{color: #35c5f0; margin-right: 2px;}
.goods-price-rate, .goods-price{
	font-size: 17px;
    line-height: 23px;
    font-weight: 700;
} */

/* .tooltip{
	flex: 0 0 30%;
	width: -webkit-fill-available;
} */

/* 이미지 확대  */
.goods-image .image {
	/* visibility: hidden;
	z-index: 1; */
	width: 100%;
	height: 100%;
	transform: scale(1);
	transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
}

.goods-boxs:hover .goods-image .image {
	/* visibility: visible; */
	transform: scale(1.2);
}
/* .goods-boxs:hover .goods-image > .goods_cart{
	opacity: 1;
} */
.goods-boxs:hover .hover_bar {
	display: block;
}

/** option modal **/
.layer_option {
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 210;
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.layer_option .close {
	position: absolute;
	right: 35px;
	top: 0px;
	font-size: 35px;
	font-weight: bold;
}

.layer_option .close:hover, .close:focus {
	color: #f44336;
	cursor: pointer;
}

.layer_option .layer_option_cont{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-340px;
    width: 400px;
    padding: 20px;
    border: 1px solid #555555;
    border-radius: 5px;
    background: #ffffff;
}

.layer_option_cont h4 {
	padding: 0 0 15px 0;
	border-bottom: 1px solid #999999;
	font-size: 17px;
}

.option_tit_box dl {
	overflow: hidden;
}

.option_tit_box dd {
  margin-left: 18px;
  padding: 0 5px 13px 5px;
  border-bottom: 1px solid #dadada;
  line-height: 3;
}
.option_tit_box .middle{
    width: 350px;
}
.option_tit_box dd strong {
	display: block;
	font-size: 14px;
}


.count {
	display: inline-block;
}
.option_tit_box .imgbox{
    padding-top: 13px;
    text-align: center;
}
.option_tit_box .btnbox{
    text-align: center;
    vertical-align: middle;
}

.option_tit_box .namebox{
	margin-left: 21px;
}
#minus, #plus{
	width: 40px;
    height: 33px;
    font-size: 23px;
    line-height: 1;
    font-weight: 500;
    vertical-align: -2px;
    border-radius: 5px;
    border: none;
    background: #f2f2f2;
    margin: 0 7px 0;
}
#quantity{
	width: 40px;
    height: 31px;
    font-size: 17px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    -webkit-appearance: none;
    text-align: center;
}

#tot_price {
	display: inline-block;
	margin: 0 0 0 130px;
}

.option_tit_box #confirm{
    padding: 1.5% 4.5%;
    margin: 0 0 0 5px;
    border: 1px solid #ffc71d;
    border-radius: 5px;
    color: #fff;
    background-color: #f8585b;
    font-weight: bold;
    cursor: pointer;
}
.option_tit_box .cancel{
    padding: 1.5% 4.5%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #3e3d3c;
    background-color: #fff;
    font-weight: bold;
}
.option_tit_box .middle{
    width: 350px;
}
/** //option modal **/