ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}

.step {
  display: flex;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  font-family: "Noto Sans KR", sans-serif;
}
.step li {
  flex: 1;
  position: relative;
  font-size: 11px;
  color: #a5a5a5;
  text-align: center;
  line-height: 1;
  padding: 22px 0;
}
.step li:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 19px;
  height: 19px;
  background: url("../img/icon1.png") no-repeat #fff;
}
.step li:last-child::after {
  display: none;
}
.step li div {
  font-size: 18px;
  color: #a5a5a5;
  padding: 8px 0 0;
}
.step li.on {
  color: #222;
}
.step li.on div {
  color: #e80000;
}
.sign_up {
  margin: 0 auto;
  text-align: center;
}
.email_confirm {
  display: inline-block;
  height: 600px;
  width: 1100px;
  background: #fbf1f0;
  margin: 0 0 5px;
  padding: 40px 0 0;
  text-align: center;
  box-sizing: border-box;
  padding-top: 100px;
  font-family: "Noto Sans KR", sans-serif;
}
.email_confirm h3 {
  position: relative;
  font-size: 24px;
  color: #222;
  line-height: 1;
  padding: 30px 0 30px;
}
.email_confirm h3:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #222;
  transform: translateX(-50%);
}
.email_confirm p {
  padding: 30px 0 50px;
  font-size: 14px;
  color: #888;
}
.email_confirm button {
  display: inline-block;
  width: 120px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 15px;
  background: #ec2126;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Noto Sans KR", sans-serif;
}
.email_confirm p + a {
  display: inline-block;
  width: 120px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 15px;
  background: #ec2126;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Noto Sans KR", sans-serif;
}
.email_confirm p + a:hover {
  background: #b3302b;
}
.noti {
  margin: 0 auto;
  width: 1100px;
  font-size: 14px;
  color: #888;
}
.noti::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/icon_noti.png);
  vertical-align: -3px;
}
.agree {
  display: inline-block;
  width: 1100px;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
}
.h3 {
  font-size: 21px;
  color: #222;
  font-weight: normal;
  margin: 50px 0 20px;
}
.h3 span {
  color: red;
}
.h3 #choice {
  color: blue;
}
.h3::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #e10000;
  margin: 0 8px 0 0;
  vertical-align: 5px;
}
.agree_box {
  border-top: 2px solid #6f0404;
  border-bottom: 1px solid #999;
  margin: 0 0 20px;
  padding: 35px 30px;
  overflow: auto;
  height: 200px;
  font-size: 14px;
}
input[type="checkbox"] {
  position: absolute;
  left: -3000%;
}
input[type="checkbox"] + label {
  height: 36px;
  line-height: 36px;
  font-size: 15px;
}
input[type="checkbox"] + label:before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #666;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
}
input[type="checkbox"]:checked + label:before {
  background: url(../img/checkbox.png) no-repeat #fff center;
  border-color: #333;
}
.btn_1 {
  display: inline-block;
  width: 120px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 15px;
  background: #d1261a;
  text-decoration: none;
  border-radius: 5px;
  line-height: 10px;
}
.btn_center {
  text-align: center;
  margin-bottom: 50px;
}
.sign_insert {
  margin: 0 auto;
  padding: 10px 0 10px;
  text-align: center;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
.sign_insert h3 {
  position: relative;
  font-size: 24px;
  color: #222;
  line-height: 1;
  padding: 15px 0 30px;
}
.sign_insert h3:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #222;
  transform: translateX(-50%);
}
.sign_insert ul {
  display: inline-block;
  width: 500px;
  margin: 0 0 30px;
}
.sign_insert ul li {
  margin: 15px;
  text-align: left;
}
.sign_insert ul li label {
  font-size: 18px;
}
.sign_insert ul li label + div {
  text-indent: 13px;
  display: none;
}
.sign_insert ul li label span {
  color: #ca3333;
}
.sign_insert ul li input {
  height: 45px;
  width: 100%;
  font-size: 18px;
  text-indent: 12px;
  margin: 2px 0 0;
  border-radius: 5px;
  border: 1px solid #f0eff2;
  -webkit-appearance: none;
}
.btn_2 {
  display: inline-block;
  width: 100px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 13px;
  background: #666;
  vertical-align: 1px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 10px;
}
.sign_insert ul li select::-ms-expand {
  display: none;
}
#zipcode {
  width: 85px;
}
.sign_insert ul li input::-webkit-input-placeholder {
  font-size: 16px;
  color: #9fa19f;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 111111; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #dd3e38;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
.modal-header h2 {
  margin: 10px 0 10px;
  font-size: 24px;
  text-indent: 13px;
}
.modal-header p {
  padding: 0;
  color: #fefefe;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  display: inline-block;
}
.modal-body input {
  margin: 50px 3px 0 4px;
  width: 200px;
  height: 40px;
  padding: 0 0 3px 0;
  font-size: 14pt;
  text-indent: 12px;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid rgb(221, 221, 221);
  -webkit-appearance: none;
  display: none;
}
.modal-body input::-webkit-input-placeholder {
  color: rgb(207, 207, 207);
}
.modal-body input:first-child {
  display: inline-block;
}
.modal-body button {
  width: 100px;
  height: 45px;
  border-radius: 5px;
  font-size: large;
  font-weight: 600;
  vertical-align: -31px;
}
#auth-btn {
  display: none;
}
.modal-body #timer-div {
  height: 20px;
  width: 100px;
  margin-left: 80px;
  text-align: left;
  text-indent: 12px;
  line-height: 1;
  padding: 5px 0 0 0;
  font-size: 15px;
  color: green;
}
.modal-body #result-div {
  /* display: none; */
  width: 310px;
  height: 40px;
  margin-left: 80px;
  line-height: 2;
  font-size: 13pt;
  text-align: left;
  text-indent: 12px;
}
.modal-body .message {
  width: 310px;
  line-height: 2;
  font-size: 20pt;
  text-align: center;
}
/* Modal Footer */
.modal-footer {
  height: 30px;
  padding: 2px 16px;
  background-color: #ffffff;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  top: 20%;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 6px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 20%;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 20%;
    opacity: 1;
  }
}
