<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberSQL">
	<select id="checkEmail" parameterType="String"
		resultType="member.bean.MemberDTO">
		select * from member where
		email=#{email}
	</select>

	<select id="checkNickName" parameterType="String"
		resultType="member.bean.MemberDTO">
		select * from member where
		nickname=#{nickName}
	</select>

	<insert id="sign" parameterType="member.bean.MemberDTO">
		insert into member
		(email,name,nickname,pwd,phone,zipcode,addr,addr_detail,seq,email_yn)
		values
		(#{email},#{name},#{nickName},#{pwd},#{phone},#{zipcode},#{addr},#{addr_Detail},seq_member.nextval,#{email_Yn})
	</insert>

	<update id="modi" parameterType="member.bean.MemberDTO">
		update member set
		nickname=#{nickName}, pwd=#{pwd}, phone=#{phone},
		zipcode=#{zipcode},addr=#{addr}, addr_detail=#{addr_Detail} where email = #{email}
	</update>
</mapper>