<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">
  <resultMap id="Member" type="com.spare.dogiver.domain.Member">
    <id property="email" column="email"/>
  </resultMap>
  
  <resultMap id="Goods" type="com.spare.dogiver.domain.Goods">
    <id property="goodsId" column="goods_id"/>
    <result property="goodsName" column="goods_name"/>
    <result property="goodsPrice" column="goods_price"/>
    <result property="goodsThumbnail" column="goods_thumbnail"/>
  </resultMap>
  
  <resultMap id="Cart" type="com.spare.dogiver.domain.Cart">
    <id property="cartId" column="cart_id" />
    <result property="cartCnt" column="cart_cnt"/>
    <association property="goods" resultMap="Goods" />
    <association property="member" resultMap="Member"/>
  </resultMap>
  
  <insert id="save" parameterType="Cart">
    INSERT INTO cart(cart_id, email, goods_id, cart_cnt) 
                VALUES(seq_cart.nextval, #{member.email}, #{goods.goodsId}, #{cartCnt})
  </insert>
  
  <select id="findAll" resultMap="Cart">
    SELECT * FROM cart
  </select>
  
  <select id="findAllDesc" resultMap="Cart">
    SELECT * FROM cart ORDER BY cart_id DESC
  </select>
  
  <select id="findAllByEmailDesc" parameterType="com.spare.dogiver.domain.Member" resultMap="Cart">
    SELECT /*+INDEX_DESC(cart pk_cart)*/
           C.cart_id as cart_id 
         , C.cart_cnt as cart_cnt
         , G.goods_name as goods_name
         , G.goods_price as goods_price
         , G.goods_thumbnail as goods_thumbnail
      FROM Cart as C
           INNER JOIN goods G ON C.goods_id = G.goods_id
     WHERE C.email = #{email}
  </select>
  
  <select id="findById" parameterType="long" resultMap="Cart">
    SELECT * FROM cart WHERE cart_id = #{cartId}
  </select>
  
  <update id="update" parameterType="Cart">
    UPDATE cart SET cart_cnt = #{cartCnt} WHERE cart_id = #{cartId} 
  </update>
  
  <delete id="delete" parameterType="long">
    DELETE FROM cart WHERE cartId = #{cartId}
  </delete>
</mapper>