<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	
<mapper namespace="goodsSQL">

	<resultMap id="Goods" type="com.spare.dogiver.domain.Goods">
      <id property="id" column="id"/>
      <result property="name" column="goods_name"/>
      <result property="price" column="price"/>
      <result property="thumbnail" column="thumbnail"/>
  </resultMap>

	<select id="getGoodsList" parameterType="Long" resultType="goods">
		select * from goods order by created_date desc
	</select>
	
	<select id="getGoodsDetail" parameterType="Long" resultType="goods">
		select * from goods where id=#{id}
	</select>
	
	<select id="getCategory" parameterType="int" resultType="goods">
		select * from category join goods
		on category.category_code = goods.category_code
		where category.category_code= #{category}
	</select>
	
	<select id="goods_lineUp" parameterType="java.util.Map" resultType="goods">
		select * from category join goods
		on category.category_code = goods.category_code
		where category.category_code= #{category} order by
		<if test="lineUp == 10">
			create_date
		</if>
		<if test="lineUp == 20">
			cumulative_sales desc
		</if>
		<if test="lineUp == 30">
			price desc
		</if>
		<if test="lineUp == 40">
			price
		</if>
	</select>
	
	<!-- 상품문의 -->
	<insert id="qnaWrite" parameterType="java.util.Map">
		insert into goods_board(bo_seq, email, goods_id, category_code, title, text_content, board_date)
		values(goods_board_bo_seq.nextval, #{memEmail}, #{id}, 'QNA', 'test', #{text_content}, SYSDATE)
	</insert>
	
	<select id="getGoodsQnaList" parameterType="Long" resultType="qna">
		SELECT * 
		  FROM goods_board
               JOIN member
		       ON member.email = goods_board.email
		  WHERE goods_board.goods_id=#{goods_id}
		       AND category_code='QNA' 
		       AND reply IS NULL ORDER BY board_date DESC		
	</select>
	
 	<insert id="writeReply" parameterType="java.util.Map"> 
		insert into goods_board(email, goods_id, category_code, title, reply, board_date, bo_seq, re_seq)
		values(#{email}, #{goods_id}, 'REPLY', 'test', #{reply}, SYSDATE, #{bo_seq}, goods_board_bo_seq.nextval)
	</insert>
	
	<select id="replyList" parameterType="int" resultType="qna">
		SELECT *
		  FROM goods_board
		  	   JOIN member
		  	   ON member.email = goods_board.email
		  WHERE goods_id=#{goods_id}
		  AND category_code='REPLY'
	</select>
	
	<!-- 상품리뷰 -->
 	<insert id="reviewWrite" parameterType="qna">
		insert into goods_board(email, goods_id, category_code, title, text_content, image, board_date, bo_seq)
		values(#{email}, #{goods_id}, 'REVIEW', 'test', #{text_content}, #{image}, SYSDATE, goods_board_bo_seq.nextval) 
	</insert> 
	
	<select id="getGoodsReviewList" parameterType="Long" resultType="qna">
		SELECT * 
		  FROM goods_board
               JOIN member
		       ON member.email = goods_board.email
		 WHERE goods_board.goods_id=#{goods_id}
		       AND category_code='REVIEW' ORDER BY board_date DESC
	</select>
	
	<select id="reviewView" parameterType="int" resultType="qna">
		select * from goods_board where bo_seq=#{bo_seq} AND category_code='REVIEW'
	</select>
	
	<select id="reviewUpdateWin" parameterType="int" resultType="qna">
		select * from goods_board where bo_seq=#{bo_seq} AND category_code='REVIEW'
	</select>
	
	<insert id="reviewUpdate" parameterType="qna">
		update goods_board set text_content=#{text_content}, image=#{image} where bo_seq=#{bo_seq} 
	</insert>
	<update id="updateAmt" parameterType="orderDetail">
	    UPDATE goods SET 
		                 goods_amt = goods_amt - #{goods_count}
		               , goods_cum_sales = goods_cum_sales + #{goods_count}
		 WHERE goods_id = #{order_goods_id}
	 </update>
	 
	<insert id="goodsInsert" parameterType="goods">
		insert into goods(goods_id, category_code, goods_name, goods_price, goods_date, goods_amt, sales_yn, goods_thumbnail, goods_detail)
		values(#{goods_id},#{category_code},#{goods_name},#{goods_price},SYSDATE,#{goods_amt}, #{sales_yn},#{goods_id}||'/'||#{goods_thumbnail},#{goods_id}||'/'||#{goods_detail}) 
	</insert>
	
	<update id="goodsModify" parameterType="goods">
		update goods set category_code=#{category_code}, goods_name=#{goods_name}, goods_price=#{goods_price}, goods_date=SYSDATE, goods_amt=#{goods_amt}, sales_yn=#{sales_yn} where goods_id = #{goods_id}
	</update>
	<delete id="reviewDelete" parameterType="int">
		delete from goods_board where bo_seq=#{bo_seq}
	</delete>
	
	<select id="getGoodsId" parameterType="int" resultType="int">
		SELECT goods_id FROM (SELECT goods_id
                        FROM goods WHERE goods_id LIKE #{category_code}||'%' ORDER BY goods_id DESC) WHERE rownum = 1
	</select>
	
	<select id="findGoodsById" parameterType="long" resultMap="Goods">
	    SELECT * FROM goods where goods_id = #{goodsId}
	</select>
</mapper>
