<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberSQL">
	<select id="checkEmail" parameterType="String"
		resultType="member">
		select * from member where
		email=#{email}
	</select>
	<select id="find" parameterType="String"
		resultType="com.spare.dogiver.domain.Member">
		select * from member where
		email=#{email}
	</select>

	<select id="checkNickName" parameterType="String"
		resultType="member">
		select * from member where
		nickname=#{nickName}
	</select>

	<insert id="sign" parameterType="member">
		insert into member
		(email,name,nickname,pwd,phone,zipcode,addr,addr_detail,seq,email_yn)
		values
		(#{email},#{name},#{nickName},#{pwd},#{phone},#{zipcode},#{addr},#{addr_Detail},seq_member.nextval,#{email_Yn})
	</insert>

	<update id="modi" parameterType="member">
		update member set
		nickname=#{nickName}, pwd=#{pwd}, phone=#{phone},
		zipcode=#{zipcode},addr=#{addr}, addr_detail=#{addr_Detail} where
		email = #{email}
	</update>

	<select id="getMemberList" parameterType="java.util.Map"
		resultType="member">
		<![CDATA[ 
		select * from 
		(select rownum rn, tt.* from 
		(select * from member order by seq desc) tt
		) where rn>=#{startNum} and rn<=#{endNum}
		]]>
	</select>

	<select id="getTotalA" resultType="int">
		select count(*) from member
	</select>
	
	<update id="change" parameterType="member">
		update member set
		name=#{name}, nickname=#{nickName}, phone=#{phone},
		zipcode=#{zipcode},addr=#{addr}, addr_detail=#{addr_Detail},
		role=#{role},email_Yn=#{email_Yn}
		 where email = #{email}
	</update>
	
	<delete id="drop" parameterType="member">
		delete from member where email= #{email}
	</delete>
</mapper>