<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="blood.bean.DogJoinDTO" alias="dogJoin"/>
		<typeAlias type="blood.bean.DogiverDTO" alias="dogiver"/>
        <typeAlias type="order.bean.CartDTO" alias="cart"/>
        <typeAlias type="order.bean.OrderDTO" alias="order"/>
        <typeAlias type="order.bean.OrderDetailDTO" alias="OrderDetail"/>
    </typeAliases>
</configuration>
