<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSQL">
	<!-- 글쓰기 -->

	<insert id="boardWrite" parameterType="board.bean.BoardDTO">
		insert into board (brd_email, brd_nickname,brd_seq, brd_category, brd_title, brd_content,
		brd_logtime) values(#{brd_email}, #{brd_nickname}, brd_seq.nextval, #{brd_category}, #{brd_title},
		#{brd_content}, SYSDATE)
		</insert>
	
	<insert id="re_write" parameterType="board.bean.BoardDTO">
		insert into brd_reply (bd_seq, re_seq, re_writer, re_content,re_logtime) values(#{brd_seq} ,re_seq.nextval,#{brd_nickname},#{re_content},SYSDATE) 
	</insert>

	<select id="getBoardList" parameterType="java.util.Map"
		resultType="board.bean.BoardDTO">
		<![CDATA[
		select * from
		(select rownum rn, tt.* from
		(select * from board order by brd_seq desc)tt
		)where rn>=#{startNum} and rn<=#{endNum} 
		]]>
	</select>

	<select id="getBoardTotalA" resultType="int">
		select count(*) from
		board
	</select>

	<select id="getBoard" parameterType="int"
		resultType="board.bean.BoardDTO">
		select * from board where brd_seq=#{brd_seq}
	</select>
	
	<select id="getReBoard" parameterType="int"
		resultType="board.bean.BoardDTO">
		select * from brd_reply where bd_seq=#{bd_seq}
	</select>
	
	<select id="getReBoard_before" parameterType="int"
		resultType="board.bean.BoardDTO">
		<![CDATA[
		select * from brd_reply where bd_seq=(select max(brd_seq) from (select brd_seq from board where brd_seq < #{brd_seq}))
		]]>
	</select>
	
	<select id="getReBoard_after" parameterType="int"
		resultType="board.bean.BoardDTO">
		<![CDATA[
		select * from brd_reply where bd_seq=(select min(brd_seq) from (select brd_seq from board where brd_seq > #{brd_seq})) 
		]]>
	</select>


	<select id="getBoardSearchTotalA" parameterType="java.util.Map"
		resultType="int">
		select count(*) from board where ${searchOption} like
		'%'||#{keyword}||'%'
	</select>
	
	<select parameterType="int" id="getBoardView_before" resultType="board.bean.BoardDTO">
		<![CDATA[
		select * from board where brd_seq=(select max(brd_seq) from (select brd_seq from board where brd_seq < #{brd_seq}))
		]]>
	</select>
	
	<select parameterType="int" id="getBoardView_after" resultType="board.bean.BoardDTO">
		<![CDATA[
		select * from board where brd_seq=(select min(brd_seq) from (select brd_seq from board where brd_seq > #{brd_seq}))
		]]>
	</select>

	<select id="getBoardSearch" parameterType="java.util.Map" resultType="board.bean.BoardDTO">
		<![CDATA[
		select * from (select rownum rn, tt.* from (select * from board where ${searchOption} like '%'||#{keyword}||'%' order by brd_seq desc)tt) where rn>=#{startNum} and rn<=#{endNum} 
		]]>
	</select>
	<delete id="boardDelete" parameterType="int">
		 DELETE FROM board WHERE brd_seq = #{brd_seq}
	</delete>
	
	<delete id="reply_delete" parameterType="int">
		 DELETE FROM brd_reply WHERE re_seq = #{re_seq}
	</delete>
	
</mapper>

















