<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="favicon" href="../image/favicon.ico" />
    <link rel="shortcut icon" href="../image/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../image/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 푸터 -->
    <footer>
      <div class="footer">
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        <div> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        <div> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </div>
      	It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
      	<div>@copylight team 나머지</div>
      </div>
    </footer>
    <!-- //푸터 -->
  </body>
</html>
