.about {
  width: 1100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
}
.about-nav {
}
.about-nav ol {
  list-style: none;
  display: flex;
}
.about-nav ol li {
  flex: 1;
  position: relative;
  padding: 22px 0;
  text-align: center;
}
.about-nav ol li a {
  text-decoration: none;
  color: #a5a5a5;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  width: 300px;
}
.about-nav ol li a.on {
  color: #c5395c;
}
.about-nav ol li a:hover {
  color: #c5395c;
}

.about-content {
  margin: 20px 0 150px;
}
.about-content h3 {
  font-size: 35px;
  font-weight: 500;
  line-height: 1;
  color: #222;
  padding: 0 0 10px;
}
.about-content p {
  font-size: 18px;
}
.about-content span {
  display: inline-block;
  font-size: 25px;
  padding: 10px 0 10px;
}
