@charset "UTF-8";
* {margin: 0; padding: 0;}

#wrap{
	margin-top: 150px;
}

#side {
	float: left;
	width: 350px;
	height: 800px;
	
}

#menu{
	margin: 0 auto;
	width: 300px;
	height: 800px;
	font-size: 15pt;
	
}

#contents{
	float: left;
	width: 1100px;
	height: 800px;
}

#menu ul li{
	cursor: pointer;
	margin: 10px;

}