@charset "UTF-8";
.container{
	margin: 100px 50% 0;
	width: 1100px;
	transform:translateX(-50%);
}
.blooddog{
	width: 150px;
	height: 150px;
}
.blooddog1{
	width:100%;
	margin-top: 30px;
	display: inline-block;
}
.blooddogimg{
	width: 50%;
	float: left;
}
.blooddogcontent{
	width: 50%;
	margin-top: 40px;
	float: left;
	font-size: 13pt;
	
}

.blooddog2{
	display: inline-block;
	width: 100%;
	margin-top: 100px;
}
.blooddogcontent2{
	width: 50%;
	float: left;
	margin-top: 50px;
	font-size: 13pt;
	
}
.blooddogimg2{
	width: 50%;
	float: left;

}
.blooddog3{
	display: inline-block;
	width: 100%;
	margin: 100px 0 0 0;
	text-align: center;
	background-color: #F8585B;
	font-size: 13pt;
}

.blooddog4{
	display: inline-block;
	width: 100%;
	margin-top: 100px;
	text-align: center;
	font-size: 13pt;
}

.bloodNowBtn{
	text-align: center;

}
.bloodNowBtn button{
	color: white;
	font-size: 15pt;
	font-weight: bold;
	background-color: #F8585B;
	height: 50px;
	width: 300px;
}
