.container {
	border: 1px solid #e8e8e8;
	width: 1100px;
	margin: 100px auto 0;
	box-sizing: border-box;
	border-radius: 5px;
}

.board-head {
	width: 100%;
	padding: 15px 0 15px;
	text-indent: 15px;
	font-size: 17px;
	font-weight: 600;
	box-sizing: border-box;
	border-bottom: 1px solid #e8e8e8;
}

#board_pre_box {
	width: 100%;
	display: inline-block;
	border-top: 2px solid #842328;
	border-bottom: 1px solid #e8e8e8;
	background: #f8dde5;
	font-size: 13px;
}

#board_pre_box div {
	margin: 5px 10px 5px;
}

#board_seq {
	display: inline-block;
	text-align: center;
	color: #9a0000;
}

#board_seqText {
	display: inline-block;
	font-size: 13px;
	text-align: center;
}

#board_category {
	display: inline-block;
	text-align: center;
	color: #9a0000;
}

#board_category_text {
	display: inline-block;
	font-size: 15px;
	text-align: center;
}
/*  */
#board_title_box {
	width: 100%;
	display: inline-block;
	font-size: 17px;
	box-sizing: border-box;
	margin: 10px 0px 0px;
}

#board_title_box div {
	
}

#board_title {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	display: none;
}

#board_title_text {
	display: inline-block;
	box-sizing: border-box;
	font-size: 19px;
	text-indent: 20px;
	color: #333;
}
/*  */
#board_info_box {
	width: 100%;
	text-align: left;
	text-indent: 5px;
	margin: 5px 0 5px;
}

#board_writer {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	display: none;
}

#board_writer_text {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	color: #666;
	width: 100px;
}

/* #board_writer_text:after {
	content: "";
	position: absolute;
	height: 12px;
	width: 1px;
	background: #000;
	top: 139px;
	left: 252px;
	color: #888;
} */

#board_time {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	display: none;
}

#board_time_text {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	color: #666;
}
/*  */
#board_content {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	box-sizing: border-box;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 30px;
	padding-left: 25px;
	height: 400px;
	overflow: auto;
}
/*  */
#board_reply {
	width: 1100px;
	margin: 0 auto;
}

#board_content-reply {
	width: 1100px;
	height: 300px;
}

#board_button {
	text-align: center;
	margin-top: 20px;
	width: 100%;
}

#board_button input[type=button] {
	-webkit-appearance: none;
	outline-style: none;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	font-size: 15px;
}

#board_button input[type=button]:hover {
	border: 1px solid #ff5b73;
	background: #ff5b73;
	color: #fff;
}

#board_content_reply {
	min-height: 200px;
	width: 1100px;
	border: 1px solid black;
}

#board_member_addBtn {
	width: 100%;
}

#board_member_addBtn input[type=button] {
	-webkit-appearance: none;
	outline-style: none;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	width: 50px;
	height: 30px;
	font-size: 15px;
}
#board_member_addBtn input[type=button]:hover {
	border: 1px solid #ff5b73;
	background: #ff5b73;
	color: #fff;
}

#view_content {
	padding-left: 10px;
	width: 930px;
	height: 46px;
	border: none;
	text-align: center;
}
.reply-text{
	text-indent: 10px;
	font-size: 13px;
	font-weight: 500;
}