@charset "EUC-KR";
input:focus{
	outline:none;
}
textarea{
	resize: none;
	border: none;
}
textarea:focus{
	outline:none;
}
.contact-image{
	height: 400px;
}
.contact-first{
	margin: 0 auto;
	overflow: none;
	position: relative;
}
.contact-second{
	margin: 0px auto;
	width:1000px;	
}
.contact-third{
	margin: 0 auto;
	width:1000px;
}
.contact-fourth{
	margin: 2px auto;
	width:1000px;
}
.contact-first-text{
	color:white;
	font-size:25pt;
	font-family:monospace;
	width:600px;
	position: absolute;
	top: 20%;
	left: 50%;	
	transform: translate( -50%, -50% );
}
.contact-second-text{
	margin: 0 auto;
	width:600px;	
}
.contact-third-textarea{
	border: 1px solid black;
	margin: 3px auto;
	width:600px;
	border-radius: 12px;
}

#contactBtn{
  width: 180px;
  height: 50px;
  font-size:30px;
  font-family: 'Nanum Gothic';
  color: gray;
  line-height: 50px;
  text-align: center;
  border: solid 2px grey;
  border-radius: 12px;
}
#contactBtn:hover {
	cursor: pointer;
}

textarea {
	resize: none;
}

textarea:focus {
	outline-color: orange;
}

input:focus {
	outline-color: orange;
}


#contact_img {
	width: 1100px;
	height: 500px;
	object-fit: cover; /* 아래에서 다룰 속성값 */
}

#contact_infoDiv {
	font-weight:bold;
	position: relative;
	top: 13px;
	z-index: 1;
	display: inline-block;
	width: 424px;
	height: 436px;
	background-color: none;
}

#contact_imgDiv {
	position: relative;
	top: -100px;
	z-index: 0;
}

#contact_visitor {
	position: relative;
	left: 800px;
	top: -172px;
	z-index: 1;
	width: 300px;
	height: 500px;
}

#nameText {
	background-color: rgba(70, 70, 70, 1);
	color: white;
	maxlength: 100px;
	width: 256px;
	height: 37px;
}

#emailText {
	margin-top: 10px;
	background-color: rgba(70, 70, 70, 1);
	color: white;
	maxlength: 100px;
	width: 256px;
	height: 37px;
	background-color: rgba(70, 70, 70, 1);
}

#phoneText {
	margin-top: 10px;
	background-color: rgba(70, 70, 70, 1);
	color: white;
	maxlength: 100px;
	width: 256px;
	height: 37px;
}

#subjectText {
	margin-top: 10px;
	background-color: rgba(70, 70, 70, 1);
	color: white;
	maxlength: 100px;
	width: 256px;
	height: 37px;
}


#textarea {
	margin-top: 10px;
	background-color: rgba(70, 70, 70, 1);
	color: white;
	padding-right: 10px;
	resize: none;
	width: 246px;
	height: 149px;
}

#contact_textarea {
	padding-left: 24px;
	color: white;
	background-color: rgba(70, 70, 70, 1);
	border: none;
	width: 230px;
	height: 145px;
}

#text_name {
	padding-left: 24px;
	color: white;
	background-color: rgba(70, 70, 70, 1);
	border: none;
	width: 232px;
	height: 35px;
}

#text_email {
	padding-left: 24px;
	color: white;
	background-color: rgba(70, 70, 70, 1);
	border: none;
	width: 232px;
	height: 35px;
}

#text_subject {
	padding-left: 24px;
	color: white;
	background-color: rgba(70, 70, 70, 1);
	border: none;
	width: 232px;
	height: 35px;
}

#text_phone {
	padding-left: 24px;
	color: white;
	background-color: rgba(70, 70, 70, 1);
	border: none;
	width: 232px;
	height: 35px;
}

#buttonDiv {
	margin-top: 10px;
	cursor: pointer;
	height: 34px;
	min-height: 25px;
	width: 256px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}