body{
  margin: 0;
  padding: 0;
}

.dognorframe{

  margin: auto;
  width: 1100px;
  text-align: center;

}

.dognorframe dl{
  margin: 150px 0 0 0;
  width: 100%;
  display: inline-block;

}

.dognorframe dl dd{
	border: 1px solid;
  margin: 20px 10px;
  width: 280px;
  height: 350px;
  display: inline-block;
}

.dognorImg{
  width: 200px;
  height: 200px;
  overflow: visible;
  margin: auto;
  cursor: pointer;
  z-index: 1000000;
  
}

img{
  border-radius: 40px;
  width: 200px;
  height: 200px;
  z-index: 1000000;

}

.dognorContent{
  margin-top: 0px;
  font-size: 15pt;
  z-index: 10;
}
