@charset "UTF-8";
/* *{
	border: 1px solid black;
} */
.wrap #section{
	width: 1100px;
	left:50%;
	position:relative;
	transform:translateX(-50%);
	margin-top:110px;
	
}
.overview{
	border: 2px solid rgba(0,0,0,0.1);
	height: 600px;
	display: block;
	overflow: hidden; 
}
.overview-image{
	width: 55%;
	height: inherit;
	display: block;
	float: left;
}
.overview-image img{ 
	width: 500px; 
	height: 500px;
	margin: 50px;
}
.overview-content{
	width: 42%;
	height: inherit;
	padding: 10px;
	display: block;
	float: right;
	overflow: hidden;
	border-left: 1px solid #f2f2f2;
}
.overview-content h1{
	font-size: 20px; 
	margin:50px 0 30px 0;
	padding: 20px 0 20px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
.overview-content h1 + div{
	border-bottom: 1px solid #f2f2f2;
	text-align: right;
}
.delivery-fee span:first-child{
	margin: 20px 0 0 20px;
}

/* 가격 테이블영역 */
.goods-price-rate{
	display: table-cell;
    padding-right: 5px;
    color: #35c5f0;
    font-weight: 900;
    vertical-align: bottom; 
}

.goods-price-rate{
	display: table-cell;
    padding-right: 5px;
    color: #35c5f0;
    font-size: 44px;
    font-weight: 900;
    vertical-align: bottom;
}
.product-price-wrap{display: table-cell;}
/* {
	display: block;
    margin: 0 0 2px;
    font-size: 15px;
    color: #757575;
} */
#goods_price{
	font-size: 25px;
    font-weight: 900;
}

/* 옵션, 수량, 총합계금액  */
.option-wrap{background-color: #e6e6e6; padding: 20px 20px;}
.count{
	display:inline-block;
}
#tot_price{
	 display: inline-block; 
	 margin: 20px 10px 20px 200px;
}


/* 버튼(장바구니, 구매하기) */
.btn_form{
	text-align: center; 
	margin: 50px 0;
	 border-top:1px solid #f2f2f2;
	  border-bottom:1px solid #f2f2f2;
	}
#btn-cart{
	width:200px;
    background-color: #fff;
    border: 1px solid #f8585b;
    color:#f8585b;
    border-radius:5px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;	
   
}

#btn-order{
	width:200px;
    background-color: #f8585b;
    border: none;
    color:#fff;
    border-radius:5px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    margin: 20px 0 20px;
}

/* --------------------------------------------------- */
.discription{
	border: 1px solid #f2f2f2;
	display: block;
	margin: 10px 0 0 0;
}
.navigationBar{
	height: 50px;
} 
.navigationBar ul{margin:0; padding: 0; height: 50px; width: 100%; display:flex;}
.navigationBar ul li{
	list-style: none; /* <li>태그의 점을 없앤다  */	 
	display: block ; 
	flex:3;
	height: 50px; 
	float: left; /* <li>태그들이 왼쪽에 흐르게 설정(그러면 아래있는 내용은 오른쪽으로 옴) */ 
	line-height: 50px; /* 글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 30px로 설정 */ 
	vertical-align: middle; /* 세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함) */ 
	text-align: center; 
	font-weight: bold; 	
	color: white;
	background-color: #f8585b;
	font-size: 13pt;
	box-shadow: rgba(0,0,0,0.4);
	border: 1px solid #f2f2f2;
}

.navigationBar ul li:hover { 
	color: white;
	background-color: #f51217; 
	cursor: pointer;
	font-size: 15pt;
}

.discription div{
	padding: 20px 30px;
}

/* --------------------------------------------------- */

table {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
	margin : 20px 10px;
	width : 90%;
}
table th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}