@charset "utf-8";
.body{
	margin: 0;
	padding: 0;
}

.hospitalframe{
	width: 1100px;
	height: 800px;
	margin: 0 auto;
}

.hospitallist{
	margin: 0 auto;
	width: 1000px;
	height: 300px;
	padding: 0px;
}

.hospitallist table{
	border-top: 1px solid;
	border-bottom: 1px solid;
	text-align: center;
	margin-top: 150px;
	height: 300px;
}

.hospitalmap{
	margin: 50px 0 0 0;
}

.marker_inner{
	padding: 10px;
}

.name{
	cursor: pointer;
}
