ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}

.login {
  width: 410px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.login h2 {
  font-size: 32px;
  color: #111;
  border-bottom: #111 2px solid;
  text-align: center;
  line-height: 1;
  padding: 0 0 20px 0;
}
.login > ul {
  padding: 40px 0 30px;
}
.login > ul li {
  padding: 0 0 12px 0;
}
.login > ul li input {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  text-indent: 16px;
}

.login > ul li input::-webkit-input-placeholder {
  font-size: 16px;
  color: #9fa19f;
}
input[type="checkbox"] {
  position: absolute;
  left: -3000%;
}
input[type="checkbox"] + label {
  height: 36px;
  line-height: 36px;
}
input[type="checkbox"] + label:before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #666;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
}
input[type="checkbox"]:checked + label:before {
  background: url(../image/checkbox.png) no-repeat #fff center;
  border-color: #333;
}

.login > li input[type="checkbox"]:checked + label:before {
  background: url(../image/checkbox.png) no-repeat #fff center;
  border-color: #333;
}
.login button {
  width: 100%;
  height: 56px;
  font-size: 18px;
  color: #fff;
  background-color: red;
}
.login div ul {
  display: flex;
  justify-content: center;
}
.login div ul li {
  padding: 0 18px;
}
.login div ul li a {
  font-size: 14px;
  color: #111;
  text-decoration: none;
}
#login_btn {
  background: url(../image/login_email.png) no-repeat;
  width: 100%;
  height: 56px;
  cursor: pointer;
}
#my-signin2 {
  background: url(../image/login_google.png) no-repeat;
  width: 100%;
  height: 56px;
  cursor: pointer;
}
#naverIdLogin {
  background: url(../image/login_naver.png) no-repeat;
  width: 100%;
  height: 56px;
  cursor: pointer;
}
#kakao-login {
  background: url(../image/login_kakao.png) no-repeat;
  width: 100%;
  height: 56px;
  cursor: pointer;
}
#logins li {
  width: 410px;
  height: 58px;
}
#logins li div:hover {
  border: 1px solid #c4fbff;
  border-radius: 10px;
}
.bottomDiv li:hover a {
  color: #ff0000;
}
