.login {
  width: 410px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.login a:after {
  content: "";
  position: absolute;
  top: 100px;
  left: 50%;
  width: 120px;
  height: 2px;
  background: #bfbec0;
  transform: translateX(-50%);
}
.login h2 {
  position: absolute;
  left: -3000%;
  overflow: hidden;
  font-size: 32px;
  color: #111;
  border-bottom: rgb(218, 218, 218) 2px solid;
  text-align: center;
  line-height: 1;
  padding: 0 0 20px 0;
}
.login > ul {
  padding: 10px 0 10px;
}
.login > ul li {
  padding: 0 0 4px 0;
}
.login > ul li input {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  text-indent: 16px;
  border: 3px solid #f2f2f2;
  border-radius: 5px;
  font-size: 15px;
  appearance:none;
   -moz-appearance: none;
   -webkit-appearance: none;
   outline-style: none;
}

.login > ul li input::-webkit-input-placeholder {
  font-size: 16px;
  color: #9fa19f;
}
input[type="checkbox"] {
  position: absolute;
  left: -3000%;
}
input[type="checkbox"] + label {
  height: 36px;
  line-height: 36px;
  font-size: 13px;
}
input[type="checkbox"] + label:before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid rgb(155, 155, 155);
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px 0 0;
  border-radius: 5px;
}
input[type="checkbox"]:checked + label:before {
  background: url(../image/checkbox.png) no-repeat #fff center;
  border-color: #333;
}

.login > li input[type="checkbox"]:checked + label:before {
  background: url(../image/checkbox.png) no-repeat #fff center;
  border-color: #333;
}
.login div ul {
  display: flex;
  justify-content: center;
}
.login div ul li:first-child {
  margin-left: 20px;
}
.login div ul li {
  padding: 0 16px;
}
.login div ul li a {
  font-size: 14px;
  color: #111;
  text-decoration: none;
}
#login_btn {
  background: url(../image/dogiver-login.png) no-repeat;
  width: 100%;
  height: 56px;
  cursor: pointer;
  border-radius:10px;
    appearance:none;
   -moz-appearance: none;
   -webkit-appearance: none;
   outline-style: none;
}
#my-signin2 {
  background: url(../image/login_google.png) no-repeat;
  width: 100%;
  height: 56px;
  cursor: pointer;
    appearance:none;
   -moz-appearance: none;
   -webkit-appearance: none;
   outline-style: none;
}
#naverIdLogin {
  background: url(../image/login_naver.png) no-repeat;
  width: 100%;
  height: 56px;
  cursor: pointer;
    appearance:none;
   -moz-appearance: none;
   -webkit-appearance: none;
   outline-style: none;
}
#kakao-login {
  background: url(../image/login_kakao.png) no-repeat;
  width: 100%;
  height: 56px;
  cursor: pointer;
    appearance:none;
   -moz-appearance: none;
   -webkit-appearance: none;
   outline-style: none;
}
#logins li {
  width: 410px;
  height: 58px;
}
#logins li div:hover {
  border: 1px solid #c4fbff;
  border-radius: 10px;
  opacity: 0.9;
}
.bottomDiv li:hover a {
  color: #ec4d4d;
}
#logins button:hover {
	border: 1px solid #c4fbff;
  border-radius: 10px;
  opacity: 0.9;
}
.ui-widget.ui-widget-content{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #f2f2f2;

}
.ui-menu-item-wrapper{
      text-indent: 16px;
	font-size: 15px;
	color:#bdbcc1;
	margin:5px 0 5px;
}
.loginMessage{
	text-align: center;
	font-size: 20px;
	margin:10px 0 0 0;
}