@charset "UTF-8";
#myboardDiv{
	width: 1100px;
	height: 1000px;
	box-sizing: border-box;
	margin-top: 30px;
}

.myboardList{
	width: 500px;
	height: 300px;
	box-sizing: border-box;
	margin: 25px;
	float: left;
	overflow: auto;
}

.myboardList label{
	font-size: 15pt;
	font-weight: bold;
}

#myboardView{
	width: 1050px;
	height: 500px;
	box-sizing: border-box;
	margin: 25px;
	float: left;
	border: 1px solid;
	
}