@charset "utf-8";
body{font-family: "Noto Sans KR", sans-serif;}
.both {
  clear: both;
  overflow: hidden;
}

.order_wrap{width: 1100px; margin: 0 auto; height: inherit;}
.order_wrap .order_process{overflow: auto; padding-bottom:18px;}
.order_wrap .order_process ol {list-style: none; float: right; line-height: 22px; height: 26px; margin-top: 60px;}
.order_wrap .order_process ol li {list-style: none; float: left; font-size: 17px; font-weight: 200; color: #9e9e9e;}
.order_wrap .order_process .page_on{color: #333333; font-weight: 500;}
.order_wrap .order_process li.page_on span.dot {background: #f44a4b;}
.order_wrap .order_process li span{font-size: 16px; color: #9e9e9e; font-weight: bold; display: inline-block; vertical-align: top;}
.order_wrap .order_process li span.dot{ width: 25px; height: 25px; border-radius: 100%; line-height: 22px; text-align: center; font-size: 14px; font-weight: 500; color: #fff; background: #bebebe;}

.order_wrap .order_table_type {border-top: 1px solid #e0e0e0;}
.order_wrap .order_table_type table { width: 100%; border: 0; border-spacing: 0; border-collapse: collapse; text-align: center;}
.order_wrap .order_table_type th {padding: 14px; border: none; border-bottom: 1px solid #e0e0e0; background: #fff; font-size: 16px; font-weight: 300; letter-spacing: -1px;}
.order_wrap .order_table_type td {height: 31px; padding: 28px 10px; color: #4e4e4e; font-size: 16px; font-weight: 300; border: none; border-bottom: 1px solid #e0e0e0;}
.order_wrap .order_table_type font {display: inline-block; vertical-align: top; font-size: 14px; line-height: 24px; height: 24px; padding: 0 8px 0 21px; letter-spacing: -1px;}
.order_wrap .order_table_type .cart_goods_cont .cart_goods_image {display: table-cell; width: 140px; padding: 0 10px; vertical-align: top;}
.order_wrap .order_table_type .cart_goods_cont .cart_goods_image img {width: 120px; height:120px;}
.order_wrap .order_table_type .cart_goods_cont .cart_goods_info em {color: #4e4e4e; font-size: 15px; font-weight: normal;}
.order_wrap .order_table_type .td_order_amount .order_goods_num strong {font-size: 17px;font-weight: 500;} 
.order_wrap .order_table_type .td_order_amount .order_goods_num strong font { font-size: 15px; font-size: 300; } 

.order_table_type .td_left { text-align: left; } 
.order_table_type .td_check { vertical-align: middle; } 
.order_table_type .cart_goods_cont{ display: table; position: relative; width: 100%; } 
.order_table_type .cart_goods_cont .cart_goods_image img{ border: 1px solid #dbdbdb; vertical-align: middle; }  
.order_table_type .cart_goods_cont .cart_goods_info { display: table-cell; padding: 0; text-align: left; vertical-align: middle; word-break: break-all; }  
.order_table_type .td_order_amount .order_goods_num { width: 100%; }  
.order_table_type .td_order_amount .order_goods_num strong { display: block; width: 100px; color: #333333; font-size: 13px; }
.order_table_type .td_order_amount .btn_option {
  margin: 5px 0 0 0;
  display: inline-block;
}


.price_sum {margin: 30px 0 0 0; padding: 20px 40px 25px 40px; border: 2px solid #d6d6d6; overflow:auto;}
.price_sum_cont .price_sum_list .price_total dt, .price_sum_cont .price_sum_list .price_total dd {display: block; vertical-align: top;}
.price_sum_cont {display: table; float: right; text-align: right;}
.price_sum_cont .price_sum_list {position: relative;}
.price_sum_cont .price_sum_list dl {display: table-cell; padding: 5px 10px 5px 10px; font-size: 16px; text-align: right;}
.price_sum_cont .price_sum_list dd { color: #000000; font-size: 19px; font-weight: 300;}
.price_sum_cont .price_sum_list dd strong, .price_sum_cont .price_sum_list dd strong {font-weight: 500; font-size: 26px; color: #000000; margin-right: 5px;}
.price_sum_cont .price_sum_list .price_total {padding-right: 0;}
.price_sum_cont .price_sum_list .price_total dt {font-size: 17px;}

.btn_order_box {text-align: left; overflow: hidden; clear: both; padding: 30px 0 0 0;}
.btn_order_box .btn_left_box {float: left; text-align: left;}
.btn_order_box .btn_right_box {text-align: right; float: right;}
.btn_center_box {
  text-align: center;
  
}

.btn_order_choice_del, .btn_order_shop_go_link{
  display: inline-block;
  min-width: 120px;
  height: 38px;
  padding: 0 15px 0 15px;
  color: #333333;
  border: 1px solid #e6e6e6;
  background: #f2f2f2;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
}

.btn_order_buy {
  display: inline-block;
  width: 300px;
  height: 61px;
  line-height: 59px;
  color: #fff;
  font-size: 20px;
  border: 1px solid #333;
  background: #333;
  text-align: center;
}
.btn_order_buy em {
  font-weight: bold;
}

.cart_cont_list .order_cart_tit {
  padding: 0 0 10px 0;
  font-size: 16px;
}
.cart_cont_list .order_cart_tit h3 {
  font-weight: 400;
  padding-top: 40px;
}

.cart_cont_list .order_cart_tit {
  padding: 0 0 10px 0;
  font-size: 16px;
}

.order_zone_tit {
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
  font-size: 16px;
}

.order_view_info h4 {
  margin: 50px 0 0 0;
}

.order_zone_tit h4 {
  font-size: 16px;
}

.order_cont .order_table_type {margin: 25px 0 0 0;}

.order_view_info .order_table_type .table_left {
  border-top: 1px solid #999999;
  
}
.order_view_info .order_table_type .table_left th {
  padding: 15px 10px 14px 20px;
  border-top: none 0;
  background: #f7f7f7;
  text-align: left;
}

.order_view_info .order_table_type .table_left tbody tr:first-child td:last-child {
  border-left: none;
}

.order_view_info .order_table_type .table_left td {
  height: 31px;
  padding: 12px 10px 11px 15px;
  text-align: left;
}
.order_cont input[type="text"] {
  width: 220px;
  height: 31px;
  color: #333333;
  border: 1px solid #d6d6d6;
  line-height: 31px;
  padding: 0 10px;
  outline: none;
  font-size: 12px;
  box-sizing: border-box;
}

.member_address .address_postcode {
  overflow: hidden;
  position: relative;
}

.member_address .address_input {
  float: left;
  width: 98%;
}
.member_address .address_input input:first-child {
  width: 400px;
  margin: 10px 0 0 0;
}
.member_address .address_postcode input {
  float: left;
}
.member_address .address_postcode .btn_post_search {
  
  margin: 0 0 0 5px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #989898;
}

.member_email select{
  height: 31px;
  line-height: 30px;
}
.order_memo input[type="text"]{
  width: 90%;
}
.address_input .btn_post_setting{
  margin: 10px 0 0 0;
  padding: 5px 10px 5px 10px;
  border: 1px solid #989898;
}

.payment_progress{}
.payment_progress .pay_noBook_box ul{
  list-style: none;
}
.payment_progress .pay_noBook_box li{
  margin: 10px 0 0 0;
}
.payment_progress .pay_noBook_box select{
  height: 30px;
}
.payment_progress .select_payment{
  float:left;
}
.payment_progress .select_payment input[type="radio"]{
  padding: 0 10px 0 0;
}
.payment_progress .pay_noBook_box{
  clear: both;
}

.final_payment {
  margin: 30px 0 0 0;
}

.final_total_payment {
  padding: 13px 46px 20px 0;
  border: 2px solid #d6d6d6;
  text-align: right;
}
.final_total_payment dl {
  display: inline-block;
  font-size: 0;
}

.final_total_payment dt {
  display: inline-block;
  padding: 0 15px 0 0;
  font-size: 14px;
  font-weight: bold;
}



.final_total_payment dd {
  display: inline-block;
  font-size: 30px;
  color: #ab3e55;
}

.final_payment .final_payment_check {
  padding: 30px 0 20px 0;
  text-align: center;
}

.form_element {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.form_element {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.final_payment .form_element label  em b {
  color: #ab3e55;
}

/** option modal **/
.layer_option {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 210;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.layer_option .close {
  position: absolute;
  right: 35px;
  top: 0px;
  font-size: 35px;
  font-weight: bold;
}

.layer_option .close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
.layer_option .layer_option_cont{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-300px;
    margin-top:-300px;
    width: 600px;
    padding: 20px;
    border: 2px solid #555555;
    background: #ffffff;
}
.layer_option_cont h4 {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #999999;
  font-size: 17px;
}
.option_tit_box dl {
  overflow: hidden;
}
.option_tit_box dt {
  float: left;
  margin-top: 5px;
}
.option_tit_box dd {
  margin: 18px 0 0 133px;
  padding: 0 5px 13px 5px;
  border-bottom: 1px solid #dadada;
}
.option_tit_box dd strong {
  display: block;
  font-size: 14px;
}
.option_tit_box dt img {
  width: 120px;
  height: 120px;
  border: 1px solid #dbdbdb;
}
.option_tit_box #tot_price {
  display: inline-block;
  margin: 20px 10px 20px 200px;
}

.option_tit_box .count {
  display: inline-block;
}
/** //option modal **/
/* 완료 및 접근 제한 */
.order_complete {
  display: inline-block;
  height: 600px;
  width: 1100px;
  background: #fbf1f0;
  margin: 0 0 5px;
  padding: 40px 0 0;
  text-align: center;
  box-sizing: border-box;
  padding-top: 100px;
  font-family: "Noto Sans KR", sans-serif;
}
.order_complete h3 {
  position: relative;
  font-size: 24px;
  color: #222;
  line-height: 1;
  padding: 30px 0 30px;
}

.order_complete p {
  padding: 30px 0 50px;
  font-size: 14px;
  color: #888;
}

.order_complete a {
  display: inline-block;
  width: 120px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 15px;
  background: #ec2126;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Noto Sans KR", sans-serif;
}

/* 주문 조회 */

.mypage_order_info_cont {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 0;
  border: 2px solid #e6e6e6;
  border-top: 1px solid #666666;
  text-align: center;
  background: #fafafa;
}

.mypage_order_info_cont ol {
  display: inline-block;
  width: 80%;
  font-size: 0;
  padding: 20px 0 22px;
  border-right: 1px solid #e3e3e3;
  vertical-align: middle;
}
.mypage_order_info_cont ol li {
  display: inline-block;
  width: 10%;
  min-width: 66px;
  padding: 0 10px 0 30px;
  font-size: 13px;
  text-align: center;
  background: none 0;
}

.mypage_order_info_cont ol li strong {
  display: inline-block;
  width: 52px;
  height: 42px;
  line-height: 1.1;
  padding: 0;
  color: #888888;
  font-size: 40px;
  background: none;
  text-align: center;
  vertical-align: middle;
}
.mypage_order_info_cont ol li b {
  display: block;
  padding: 10px 0 0 0;
  font-size: 16px;
  color: #666666;
  font-weight: 300;
}
.mypage_order_info_cont ol li:first-child {
  padding-left: 10px;
}



.mypage_order_info_cont .order_case_list {
  display: inline-block;
  width: 19%;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
}
.mypage_order_info_cont .order_case_list {
  display: inline-block;
  width: 19%;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
}
.mypage_order_info_cont .order_case_list ul {
  display: inline-block;
  width: 70%;
  font-size: 0;
}

.mypage_order_info_cont .order_case_list ul li {
  padding: 0;
  line-height: 25px;
  font-size: 16px;
  color: #666666;
  border-top: none;
  text-align: left;
}

.mypage_order_info_cont .order_case_list ul li:first-child {
  border-top: none 0;
}

.mypage_order_info_cont .order_case_list ul li b {
  font-size: 16px;
  color: #666666;
  font-weight: 300;
}

.mypage_order_info_cont .order_case_list ul li span {
  float: right;
  font-size: 16px;
  color: #666666;
}


.mypage_order_info_cont .order_case_list ul li span > em, .mypage_order_info_cont .order_case_list ul li span > strong {
  padding: 0 3px 0 0;
  font-size: 20px;
  color: #888888;
}

.mypage_lately_info {
  position: relative;
}

.mypage_zone_tit {
  overflow: hidden;
  clear: both;
  margin: 0 0 0 0;
  padding: 0 0 6px;
  font-size: 16px;
}

.mypage_zone_tit h3 {
  font-size: 22px;
  color: #333333;
  font-weight: 500;
  letter-spacing: -1px;
}

.mypage_table_type table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  border: none;
  border-top: 1px solid #666666;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.mypage_table_type th {
  padding: 16px 10px;
  border-top: none;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
}

.mypage_table_type th:first-child, .mypage_table_type .row_line:first-child td:first-child, .mypage_table_type table td.order_day_num {
  border-right: 1px solid #e6e6e6;
}

.mypage_table_type td {
  height: 31px;
  padding: 20px;
  color: #000000;
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
}

.mypage_table_type table td.order_day_num em {
  font-weight: 300;
  color: #666666;
}
.mypage_table_type .order_num_link {
  color: #0380ff;
  font-weight: bold;
  border-bottom: 1px solid #0380ff;
}
.mypage_table_type .btn_claim > span {
  display: inline-block;
  margin: 7px 0 0 0;
}

.mypage_table_type .btn_gray_list .btn_gray_small {
  display: inline-block;
  font-size: 14px;
  background: none;
  border: 1px solid #e6e6e6;
  margin: 0;
  padding: 0 8px;
  border-radius: 0;
  min-width: 60px;
}

.mypage_table_type .btn_gray_list .btn_gray_small span {
  display: inline-block;
  background: none;
  line-height: 30px;
  height: 29px;
  padding: 0;
  background: none;
  vertical-align: top;
  font-size: 14px;
  font-weight: 300;
  color: #333;
}

.mypage_table_type .row_line td {
  border-bottom: 1px solid #e6e6e6;
}

.mypage_table_type .td_left {
  text-align: left;
}

.mypage_table_type .pick_add_cont {
  display: table;
  position: relative;
}

.mypage_table_type .pick_add_cont .pick_add_img {
  display: table-cell;
  width: 120px;
  vertical-align: top;
}

.mypage_table_type .pick_add_cont .pick_add_img img {
  width: 100%;
  height: auto;
  border: 1px solid #dbdbdb;
  vertical-align: middle;
}

.mypage_table_type .pick_add_cont .pick_add_info {
  display: table-cell;
  padding: 0 0 0 10px;
  vertical-align: middle;
  word-break: break-all;
  color: #000;
  font-size: 15px;
}

.mypage_table_type .pick_add_cont .pick_add_info a {
  margin: 5px 0;
  display: block;
}

.mypage_table_type .pick_add_cont .pick_add_info em {
  display: block;
  color: #000;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
}

.mypage_table_type .row_line td {
  border-bottom: 1px solid #e6e6e6;
}

.mypage_table_type td > strong {
  color: #000;
}

/* 장바구니 접근 제한 */
.need_login {
  display: block;
  height: 600px;
  width: 1100px;
  background: #fbf1f0;
  margin: 0 auto;
  padding: 40px 0 0;
  text-align: center;
  box-sizing: border-box;
  padding-top: 100px;
  font-family: "Noto Sans KR", sans-serif;
}
.need_login h3 {
  position: relative;
  font-size: 24px;
  color: #222;
  line-height: 1;
  padding: 30px 0 30px;
}

.need_login p {
  padding: 30px 0 50px;
  font-size: 14px;
  color: #888;
}

.need_login a {
  display: inline-block;
  width: 120px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 15px;
  background: #ec2126;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Noto Sans KR", sans-serif;
}
/* //장바구니 접근 제한 */


