ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}
.contents {
  width: 500px;
  margin: 0 auto;
}

.h2 {
  font-size: 36px;
  color: #222;
  line-height: 1;
  position: relative;
  padding: 55px 0 50px;
  text-align: center;
  font-weight: normal;
}

.h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50px;
  height: 1px;
  background: #aaa;
  transform: translateX(-50%);
}
.h2 + p {
  padding: 46px 0 54px;
  font-size: 18px;
  text-align: center;
  color: #666;
  line-height: 30px;
}
.step {
  display: flex;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.step li {
  flex: 1;
  position: relative;
  font-size: 11px;
  color: #a5a5a5;
  text-align: center;
  line-height: 1;
  padding: 22px 0;
}
.step li:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 19px;
  height: 19px;
  background: url("../image/icon1.png") no-repeat #fff;
}
.step li:last-child::after {
  display: none;
}
.step li div {
  font-size: 18px;
  color: #a5a5a5;
  padding: 8px 0 0;
}
.step li.on {
  color: #222;
}
.step li.on div {
  color: #e80000;
}
.email_confirm {
  height: 400px;
  background: #ebebeb;
  margin: 50px 0 30px;
  padding: 40px 0 0;
  text-align: center;
  box-sizing: border-box;
}
.email_confirm h3 {
  position: relative;
  font-size: 24px;
  color: #222;
  line-height: 1;
  padding: 0 0 30px;
}
.email_confirm h3:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #222;
  transform: translateX(-50%);
}
.email_confirm p {
  padding: 30px 0 50px;
  font-size: 14px;
  color: #888;
}
.email_confirm button {
  display: inline-block;
  width: 120px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 13px;
  background: #ec2126;
  text-decoration: none;
}
.noti {
  font-size: 14px;
  color: #888;
}
.noti::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../image/icon_noti.png);
  vertical-align: -3px;
}
.h3 {
  font-size: 18px;
  color: #222;
  font-weight: normal;
  margin: 50px 0 20px;
}
.h3::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #e10000;
  margin: 0 8px 0 0;
  vertical-align: 5px;
}
.agree_box {
  border-top: 2px solid #6f0404;
  border-bottom: 1px solid #999;
  margin: 0 0 20px;
  padding: 35px 30px;
  overflow: auto;
  height: 200px;
}
input[type="checkbox"] {
  position: absolute;
  left: -3000%;
}
input[type="checkbox"] + label {
  height: 36px;
  line-height: 36px;
}
input[type="checkbox"] + label:before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #666;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
}
input[type="checkbox"]:checked + label:before {
  background: url(../image/checkbox.png) no-repeat #fff center;
  border-color: #333;
}
.btn_1 {
  display: inline-block;
  width: 120px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 13px;
  background: #6f0404;
  text-decoration: none;
}
.btn_center {
  text-align: center;
}
.sign_insert {
  margin: 50px auto;
  padding: 40px 0 0;
  text-align: center;
  box-sizing: border-box;
}
.sign_insert h3 {
  position: relative;
  font-size: 24px;
  color: #222;
  line-height: 1;
  padding: 0 0 30px;
}
.sign_insert h3:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #222;
  transform: translateX(-50%);
}
.sign_insert ul {
  display: inline-block;
  width: 500px;
  margin: 0 0 30px;
}
.sign_insert ul li {
  margin: 15px;
  text-align: left;
}
.sign_insert ul li label {
  font-size: 18px;
}
.sign_insert ul li label span {
  color: #ca3333;
}
.sign_insert ul li input {
  height: 45px;
  width: 100%;
  font-size: 18px;
  text-indent: 12px;
  margin: 2px 0 0;
}
.btn_2 {
  display: inline-block;
  width: 80px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 13px;
  background: #666;
  text-decoration: none;
  vertical-align: middle;
}
.sign_insert ul li select::-ms-expand {
  display: none;
}
#zipcode {
  width: 80px;
}
.sign_insert ul li input::-webkit-input-placeholder {
  font-size: 16px;
  color: #9fa19f;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #b85c5c;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #b85c5c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  top: 20%;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 20%;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 20%;
    opacity: 1;
  }
}
