<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="goodsSQL">
	<select id="getGoodsList" parameterType="int" resultType="goods.bean.GoodsDTO">
		select * from goods
	</select>
	
	<select id="getGoodsDetail" parameterType="int" resultType="goods.bean.GoodsDTO">
		select * from goods where goods_id=#{goodsId}
	</select>
</mapper>
