<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminSQL">
	<!-- 모든 헌혈견 리스트 -->
	<select id="getDogiver" parameterType="java.util.Map" resultType="dogiver">
		<![CDATA[ 
		select dog_id, dog_name, dog_age, dog_weight, dog_breed, dog_bloodtype, name, email, phone, apply_status, blood_cc, dog_image, description, donation_date 
		from (select rownum rn, tt.*from(select*from apply_dogiver left join dogiver using(dog_id) join member using(email) order by dog_id desc)tt) 
		where rn>=#{startNum} and rn<=#{endNum}
		]]>
	</select>
	<!-- 헌혈견 총 마리수 -->
	<select id="getDogiverTotalA" resultType="int">
		select count(*) from apply_dogiver
	</select>
	
	<!-- 관리자헌혈견 수정 -->
	<update id="adminDogiverModify" parameterType="java.util.Map">
	begin
		update apply_dogiver set apply_status=#{apply_status} where dog_id=#{dog_id};
		<if test="apply_status==헌혈완료">
		insert into dogiver(dog_id) values(#{dog_id});
		</if>
		update dogiver set dog_image=#{dog_image}, description=#{description}, blood_cc=#{blood_cc}, donation_date=#{donation_date} where dog_id=#{dog_id};
	end;
	</update>
</mapper>


		
		