<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderSQL">
	<select id="searchCart" parameterType="java.util.Map" resultType="cart">
	    <![CDATA[
        SELECT
               cart_id
          FROM cart
         WHERE goods_id = #{goods_id} AND email = #{email} ORDER BY cart_id
        ]]>
	</select>
	<select id="getOrderList" parameterType="java.util.Map" resultType="cart">
        SELECT
               g.goods_id AS goods_id,
               g.goods_name AS goods_name,
               g.goods_thumbnail AS goods_thumbnail,
               g.goods_price AS goods_price,
               c.cart_cnt AS cart_cnt,
               (goods_price * cart_cnt) total_price
          FROM 
               cart c 
               INNER JOIN goods g ON c.goods_id = g.goods_id
         WHERE c.cart_id IN
         <foreach collection="array" item="item" index="i" separator="," open="(" close=")">
            ${array[i]}
        </foreach>
         ORDER BY c.cart_id
	</select>
	<insert id="insertCart" parameterType="java.util.Map">
	    INSERT INTO cart VALUES(SEQ_CART.NEXTVAL, #{email}, #{goods_id}, #{cart_cnt})
	</insert>
    <select id="getCart" parameterType="string" resultType="cart">
        <![CDATA[
        SELECT
               c.cart_id AS cart_id,
               g.goods_id AS goods_id,
               g.goods_name AS goods_name,
               g.goods_thumbnail AS goods_thumbnail,
               g.goods_price AS goods_price,
               c.cart_cnt AS cart_cnt,
               (goods_price * cart_cnt) total_price
          FROM 
               cart c 
               INNER JOIN goods g ON c.goods_id = g.goods_id
         WHERE c.email = #{memEmail}
         ORDER BY c.cart_id
        ]]>
    </select>
    <update id="updateCart" parameterType="java.util.Map">
        UPDATE cart SET cart_cnt = #{cart_cnt} WHERE cart_id = #{cart_id}
    </update>
    
    <delete id="deleteCart" parameterType="java.util.Map">
        DELETE CART WHERE cart_id in
        <foreach collection="array" item="item" index="i" separator="," open="(" close=")">
            ${array[i]}
        </foreach>
    </delete>
    <insert id="insertOrder" parameterType="order">
        INSERT INTO GOODS_ORDER(order_id, email, order_date, order_total_price, delivery_price, 
                                recipient, order_phone, order_zip_code, order_addr, order_addr_detail,
                                order_memo, order_pay, order_status, delivery_code, order_email, order_amount)
                         VALUES(#{partner_order_id}, #{email}, SYSDATE, #{total_amount}, 2500,
                                #{orderName}, #{orderCellPhone}, #{orderZipcode}, #{orderAddress}, #{orderAddressSub}
                                ,#{order_memo}, #{order_pay}, '결제완료', 1, #{partner_user_id}, #{quantity})
    </insert>
    <insert id="insertOrderDetail" parameterType="orderDetail">
        INSERT INTO ORDER_DETAIL VALUES(#{partner_order_id}, #{order_goods_id}, #{goods_count}, #{total_price})
    </insert>
    
    <select id="getMyOrder" parameterType="String" resultType="orderList">
        <![CDATA[
        SELECT go.order_id, go.order_status, go.order_date, go.order_amount,
               g.goods_thumbnail, g.goods_name, 
               od.goods_id, od.goods_count, od.total_price
          FROM order_detail  od
               LEFT JOIN goods g on od.goods_id = g.goods_id 
               LEFT JOIN goods_order go on od.order_id = go.order_id
         WHERE go.email = #{email} ORDER BY order_id DESC
        ]]>
    </select>
    
    <select id="getStatus" parameterType="String" resultType="orderStatus">
        SELECT order_status, count(order_id) AS count 
          FROM goods_order  
         WHERE order_email = #{memEmail}
         GROUP BY order_status
    </select>
</mapper>