<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<link rel="favicon" href="${pageContext.request.contextPath}/resources/img/favicon.ico" />
<link rel="shortcut icon" href="${pageContext.request.contextPath}/resources/img/favicon.ico"
	type="image/x-icon" />
<link rel="icon" href="${pageContext.request.contextPath}/resources/img/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
</head>
<body>
	<!-- 푸터 -->
	<footer>
		<div class="footer">
			<div class="footer-nav">
				<div>개인정보처리방침</div>
				<div>contact</div>
			</div>
			<!-- 로고 -->
			<a href="../main/index"><img src="${pageContext.request.contextPath}/resources/img/dogiver-logo.png"
				alt="로고이미지" /></a>
			<div>주소: 서울특별시 서초구 서초4동 강남대로 459</div>
			<div>연락처: 02-3486-9600</div>
			<div class="teamDiv">@copylight team spare</div>
		</div>
	</footer>
	<!-- //푸터 -->
</body>
</html>
