<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="bloodSQL">
	<!-- 헌혈견 등록 -->
	<insert id="dogInsert" parameterType="dogJoin">
		INSERT into apply_dogiver(dog_id, dog_name, dog_age, dog_breed, dog_weight, dog_bloodType,apply_status)
		VALUES(DOG_ID_APPLY_DOGIVER.nextval,#{dog_name},#{dog_age},#{dog_breed},#{dog_weight},#{dog_bloodType},'신청완료')
	</insert>
	
	<!-- 명예의 전당 -->
	<select id="getDogiver" resultType="java.util.Map">
		select dog_name, dog_age, dog_weight, dog_breed, dog_image from apply_dogiver join dogiver on dogiver.dog_id = apply_dogiver.dog_id
	</select>
</mapper>